p Olá Administrador,
p Um novo usuário se registrou no sistema, por favor acesse seu painel administrativo para ativar o registro do mesmo.
p Nome: #{name}
p E-mail: #{email}
p CPF/CNPJ: #{document}
br
p ------------------------ MENSAGEM AUTOMÁTICA ------------------------