p Olá #{name},
p Parece que você esqueceu sua senha, mas não se preocupe, iremos redefiní-la para você.
p Geramos um token de redefinição de senha, você terá 24 horas para utilizá-lo até que ele expire. Basta clicar no link abaixo:
p
    strong Código de segurança:&nbsp;
    span #{code}
p
    strong Link de redefinção de senha:&nbsp;
    a(href=url) Redefinir senha
p Mas lembre-se, caso não tenha sido você quem fez esta solicitação, por favor, ignore este e-mail. Ele perderá sua validade em breve.
br
p ------------------------ MENSAGEM AUTOMÁTICA ------------------------
